#addGameBody.modal-body {
    /* подключаем сетку */
    display: block;
    /* ставим всё по центру */
    overflow: hidden;
    min-height: 150px;
    height: 150px;
    margin-bottom: 0;
    margin-top: 0;
}

#inputNewGame {
    display: block;
    width: 100%;
    height: 40px;
}

#addGameBody.modal-body{
    color: black;
}

.form-label{
    margin: 0;
}